/*gomb formázások*/
.btn {
    display: inline-block;
    background-color: #ffb32f;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    margin: 15px 0;
}
.btn:hover {
    background: #1e283c;
}
/*narancs gombok*/